/* Small Screen */
.container {
	margin: 1rem;
}

.movies {
	margin: 5rem 0;
	text-align: center;
}

.movies__title {
	color: #f72585;
	margin-bottom: 2rem;
	font-size: 2.44rem;
}

/* Medium Screen */
@media (min-width: 768px) {
	.container {
		max-width: 1020px;
		margin: 0 auto;
	}

	.movie__container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}
