.global {
	padding: 1rem;
	background-color: #f8f9fa;
}

.global__container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

.global__title {
	text-align: center;
	font-size: 2.441rem;
	color: #06d6a0;
	font-weight: 700;
}

.global__description {
	text-align: center;
	color: #118ab2;
	font-weight: 400;
	display: block;
	margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
	.global {
		padding: 5rem 3rem;
	}

	.global__wrapper__cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
